/* Reset et styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles de la police de caractères */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}